
<label class=" btn btn-primary mx-auto d-block col-4"><h1>{{quiz.name}}</h1></label>
<br>
<div class="qu text-light mx-auto d-block ">
 <h4 class="text-center" id="publishtext" > </h4> 

 <form   id="publish" action="/user/publishquiz" method="POST">
      <button  class="btn btn-success d-block mx-auto" name="status" value="1">Publish Now</button>
      <input type="text" class="form-control" name="id" placeholder="Quiz Name" value="{{quiz.id}}" hidden>
      </form>

{{# each quiz.questions}}
<h4 class="d-inline">{{this.title}}</h4><a href="editquestion?id={{this.id}}&qid={{../quiz._id}}"> <i class="fas fa-edit float-right text-warning col-1"></i></a><a href="deletequestion?id={{this.id}}&qid={{../quiz._id}}"> <i class=" col-1 fas fa-trash-alt text-danger float-right"></i></a><br>
<ol>

{{# each this.answers}}
<li>{{this}}</li>
{{/each}}
</ol>
<small class="text-success"> the correct answer is {{this.correct}}</small><br>
<label class="" >explanation :</label>
<br>
<p>{{this.explanation}}</p>
<hr style="width:30%;background-color:white">
{{/each}}
<form action="/user/addquestion" method="get" >
<input type="text" class="form-control" name="id" placeholder="Quiz Name" value="{{quiz.id}}" hidden>
<button  class="btn btn-success d-block mx-auto">Add New Question</button>
</form>
</div>

 <script>
        if({{quiz.status}}==1)
        {   document.getElementById('publishtext').innerText = 'Published'
        document.getElementById('publish').style.display = 'none'; //Will show
        }
        else
        document.getElementById('publishtext').innerText = 'Not Published Yet'

    </script>
